a(href="https://rogeliosamuel.com/" target="_blank").dedication To Sami 🤓
.playground
  .washing-machine
    .board
      .button
      .button
      .button.circle
      .button.circle
    .window
      .content
        .sock.orange
        .sock.green
        .sock.red
        .cat
          .head
            .ear
            .ear.right
            .eye
            .eye
          .body
          .feet
          .tail
      .bubbles
        .bubble
        .bubble
        .bubble
        .bubble
        .bubble
        .bubble
        .bubble
        .bubble
        .bubble
        .bubble
        .bubble
        .bubble
        .bubble
        .bubble
        .bubble
    .badge
      .line
      .line
      .line
  .clothes
    .shirt.white
    .shirt.orange
    .shirt
  .shadow